@media print, (max-width: 767px) {

    :root {
        --font_size_title: 40px;
        --font_size: 16px;
    }

    .tariff_items > * {
        width: 100%;
        min-height: 100%;
    }
    .tariff_item.active .tariff_item-price {
        margin-top: 32px;
        text-align: center;
    }
    .tariff_item-price {
        margin-top: 32px;
        text-align: center;
    }
    .problem_wrap {
        flex-wrap: wrap;        
    }
    .footer_box {
        width: 100%;
        justify-content: space-between;
    }
    .footer_wrap {
        flex-direction: column;
        gap: 16px;
    }
    .footer_soc {
        margin-right: 0;
    }
    .footer_logo {
        width: 109px;
        height: 68px;
    }
    .footer_logo img {
        width: 100%;
        height: 100%;
    }
    footer {
        margin-top: -1px;
    }
    header {
        /* background: none; */
    }
    .header_bonus span:nth-child(1),
    .header_bonus span:nth-child(2) {
        position: relative;
        transform: rotate(0deg);
    }
    .header_bonus span:nth-child(1) {
        top: 0;
    }
    .header_bonus span:nth-child(2) {
        bottom: 0;
        margin-top: 16px;
    }
    .header_text {
        order: 1;
        color: rgba(0, 0, 0, 0.9);
        text-align: center;
        margin-bottom: 28px;
    }
    .header_subtitle {
        order: 1;
        margin-top: 74px;
        margin-bottom: 28px;
        color: #191919;
        text-align: center;
    }
    .header_info {
        display: flex;
        flex-direction: column;
    }
    header {
        background-position: -380px -440px;
    }
    .header_label {
        text-align: center;
    }
    .header_title {
        font-size: 43px;
    }
    .header_top {
        margin-bottom: 34px;
    }
    .header_list {
        margin-bottom: 144px;
    }
    .header_bonus span {
        padding: 14px 16px;
        background: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(12px);
        border-radius: 22px;
        text-align: center;
        color: #fff;
        align-items: center;
    }
    .header_bonus span br {
        display: none;
    }
    .header_bonus span b {
        margin-bottom: 5px;
    }
    .modal {
        padding: 40px 20px;
    }
    .block {
        margin-top: 40px;
    }

    




}
